.jumbotron {
	text-align: center;
	padding-bottom: 40%;
	padding-top:20%;
	
}
body {
	padding-top:0px;
	padding-bottom: 110px; 
	background: url(img.jpg) no-repeat center center;
	background-size:cover;
}
.signup-form {
	color: #fff;
	text-align: center;
	
}
.email{
	color:#000;
}

