.intro-message {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 30%;
	color: #FFF ;
}
body {
	background: url(img.jpg) no-repeat center center;
	background-size:cover;
}
.signup-form {
	color: #fff;
	text-align: center;
	opacity: 0.8;
}
.email{
	color:#fff;
}