.intro-message {
	text-align: center;
	padding-top: 2%;
	padding-bottom: 30%;
	color: #FFFCD1 ;
}
body {
	background: url(_MG_5040.jpg) no-repeat center center;
}
.signup-form {
	color: #FFFCD1;
	text-align: center;
}
.email{
	color:#000;
}